* {
    color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --bg-color: #141414;
    --card-color: rgb(23, 23, 23);
}

body {
    background-color: rgb(20, 20, 20);
}

.video-container {
    display: block;
    overflow: hidden;
    width: auto;
    height: 600px;
    object-fit: cover;
    object-position: 50%;
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
}
video {
    object-fit: cover;
    object-position: 50%;
}

main {
    display: block;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    float: right;
    z-index: 9;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

ul li {
    float: left;
    
}

#nav-bar li a{
    display: block;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-size: 18px;
    float: right;
}

li a:hover {
    background-color: grey;
}

section {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    color: antiquewhite;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    flex-direction: column;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1600px;
    align-items: center;
    justify-content: center;
}

#cards:hover > .card > .card-border {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    
    height: 300px;
    width: 450px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card > .card-border {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    z-index: 2;
}

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    z-index: 3;
}

.card > .card-border {
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.3),
        transparent 40%
    );
    z-index: 1;
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    height: calc(100% - 2px);
    margin: 1px;
    position: relative;
    width: calc(100% - 2px);
    z-index: 2;
}

.card-content img {
    width: 440px;
    height: 290px;
    opacity: 50%;
    border-radius: 10px;
    position: absolute;
}

.card-content .project-titles {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    z-index: 1;
}

#backlight {
    background-color: white;
    height: 500px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotate 20s infinite; 
    background: linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(97, 97, 97),
        rgb(39, 39, 39)

    );
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(200px);
}

@keyframes rotate {
        from {
            rotate: 0deg;
        }

        50% {
            scale: 1 1.5;
        }

        to {
            rotate: 360deg;
        }
    }

@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* For Mobile */

}